<!--The content below is only a placeholder and can be replaced.-->


<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="signinbg img-responsive"></div>
    </div>
    <div class="col-md-6">
      <div class="parent-container">
        <div class="child-container">
        <img src="../assets/img/dlt-logo.png" alt="" class="logo-size">
        <h4 class="card-title">Login</h4>
        <form method="#" action="#">
          <div class="form-group label-floating">
            <label class="control-label">Email address</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Password</label>
            <input type="password" class="form-control">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="optionsCheckboxes"> Subscribe to newsletter
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-round">Submit</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
